name: build

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    paths:
      - pushbuild.txt

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        sm_version: ["1.11", "1.12"]
        os: [windows-2019, ubuntu-latest]
        include:
          - os: windows-2019
            os_short: windows

          - os: ubuntu-latest
            os_short: linux
            container_image: debian:10

          - sm_version: "1.11"
            sm_branch: "1.11-dev"

          - sm_version: "1.12"
            sm_branch: "1.12-dev"

    name: build with sm${{ matrix.sm_version }} on ${{ matrix.os_short }}
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container_image }}

    steps:
      - name: Getting GITHUB_SHA_SHORT
        shell: bash
        run: |
          echo "GITHUB_SHA_SHORT=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Install linux dependencies
        if: ${{ matrix.os_short == 'linux' }}
        shell: bash
        run: |
          apt update && apt install -y apt-transport-https lsb-release wget curl software-properties-common gnupg g++-multilib git make
          bash <(curl -fsSL https://apt.llvm.org/llvm.sh) 18
          echo "/usr/lib/llvm-18/bin" >> $GITHUB_PATH
          echo "CC=clang" >> $GITHUB_ENV
          echo "CXX=clang++" >> $GITHUB_ENV
          echo "XMAKE_ROOT=y" >> $GITHUB_ENV

      - name: Getting xmake
        uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: latest
          
      - name: Getting SourceMod ${{ matrix.sm_version }}
        uses: actions/checkout@v4
        with:
          repository: alliedmodders/sourcemod
          ref: ${{ matrix.sm_branch }}
          path: sourcemod-${{ matrix.sm_version }}
          submodules: recursive
      
      - name: Getting hl2sdk-l4d2
        uses: actions/checkout@v4
        with:
          repository: alliedmodders/hl2sdk
          ref: l4d2
          path: hl2sdk-l4d2

      - name: Getting hl2sdk-l4d
        uses: actions/checkout@v4
        with:
          repository: alliedmodders/hl2sdk
          ref: l4d
          path: hl2sdk-l4d
          
      - name: Getting safetyhook
        uses: actions/checkout@v4
        with:
          repository: alliedmodders/safetyhook
          ref: main
          path: safetyhook

      - name: Getting own repository
        uses: actions/checkout@v4
        with:
          path: src

      - name: Compile ${{ github.event.repository.name }}
        working-directory: src
        run: |
          xmake f -c --SMPATH=../sourcemod-${{ matrix.sm_version }} --HL2SDKPATH=../hl2sdk-l4d2 --HL2SDKNAME=l4d2 --SAFETYHOOKPATH=../safetyhook
          xmake -rv cutlrbtreefix
          xmake f -c --SMPATH=../sourcemod-${{ matrix.sm_version }} --HL2SDKPATH=../hl2sdk-l4d --HL2SDKNAME=l4d --SAFETYHOOKPATH=../safetyhook
          xmake -rv cutlrbtreefix

      - name: Uploading package
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}-sm${{ matrix.sm_version }}-${{ matrix.os_short }}-${{ env.GITHUB_SHA_SHORT }}
          path: src/release
 